<app-header></app-header>
<div class="main-container">
    <div class="nav-container">
        <ul>
            <button><li><a routerLink="">Home</a></li></button>
            <button><li><a routerLink="p1">Processors</a></li></button>
            <button><li><a routerLink="p2">More Processors</a></li></button>
            <!-- <button><li><a routerLink="p3">p3</a></li></button> -->
        </ul>
    </div>
    <div class="component-container">
        <!-- <app-p1></app-p1>
        <app-p2></app-p2>
        <app-p3></app-p3> -->
        <router-outlet></router-outlet>
    </div>
 </div>
